<script type="text/javascript">
	var selectedCarId = "null";
	var selectedOption = "null";
	var selectedCar = null;

	function setSelectedCar(descriptionCar){
		selectedCar = descriptionCar;
	}

	function setSelectedOption(option){
		selectedOption = option;
	}

	function setselectedCarId(selected){
		setSelectedOption(selected);
		selectedCarId = document.getElementById("optionList").options[document.getElementById("optionList").selectedIndex ].value;
		if(selectedOption=="null"){
			document.getElementById('description-car').style.display = 'none';	
		}
		else{
			document.getElementById('description-car').style.display = 'block';
			document.getElementById('description').innerHTML = "&nbsp&nbsp" + selectedCar;
		}
	}

	function saveChanges(){
		if(selectedOption == "null"){
			$('#lblNoCarSelected').show();
			//alert("Null");
		}
		else if(selectedOption =="new"){
			var newDescription = document.getElementById('newDescription').value;
			alert("New");
			//window.open("newCar?&newdescription="+newDescription.toUpperCase()+"&description="+selectedCarId,"_self");
		}
		else{
			var newDescription = document.getElementById('newDescription').value;
			alert("Edit");
			//window.open("editCar?&newdescription="+newDescription.toUpperCase()+"&description="+selectedCarId,"_self");

		}
	}

	function deleteCar(){
		//selectedCarId = document.getElementById("optionList").options[document.getElementById("optionList").selectedIndex ].value;
		alert(Borrar);
	}

	$(document).ready(function() {

		setselectedCarId("null");
		$('.form-control').on('change', function(){
			setSelectedCar($(this).find("option:selected").text());
			setselectedCarId($(this).find("option:selected").val());
		});
	});

</script>

<div class="jumbotron fixed-top">	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><span class="fa fa-carList" aria-hidden="true" style="margin-right: 10px"></span>Mis coches</h3>
		</div>	
		<div class="panel-body">
			<div class="alert alert-danger alert-dismissible" role="alert" id="lblNoCarSelected" style="display:none;">
				<button type="button" class="close" onclick="$(this).parent().hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>¡Error!</strong> Selecciona y cambia las opciones de un coche antes de guardar.
			</div>
			<div class="row vdivide well well-fixed">
				<div class="col-md-9">
					<h3><span class="label label-primary"><i class="fa fa-pencil-square-o">&nbsp;&nbsp;Editar Coche:</i></span></h3>
					<% @carList = User.find_by(email: current_user.email).car %>
					<select id="optionList" class="form-control">
						<option value="null">--</option>
						<% @carList.each do |carList| %>
						<option value="<%= carList._id %>"><%= carList.description.upcase %></option>
						<% end %>
						<option disabled role="separator">
						<option value="new">Crear nuevo coche</option>
					</select>
					<ul id="description-car" class="list-unstyled form-group" style="margin-top:10px; display:none;">
						<li>
							<h3><span class="label label-primary"><i class="fa fa-car label-car" id="description" ></i></span></h3>
							<h3><span class="label label-primary"><i class="fa fa-car label-car" id="description2" ></i></span></h3>
						</li>
						<li>
							(Introduce la nueva descripción para el coche)
							<input type="text" class="form-control" id="newDescription" placeholder="Nueva descripción" aria-describedby="basic-addon1">
						</li>
				</div>
				
				<div class="col-md-3 text-center">
					<div class="btn btn-primary btn-fixed" onclick="saveChanges()"><span class="fa fa-floppy-o fa-fixed"></span>Guardar cambios</div>

					<div class="btn btn-danger btn-fixed" onclick="deleteCar()"><span class="fa fa-trash fa-fixed"></span>Eliminar coche</div>
				</div>
				
				</div>
					
			</div>	
		</div>
	</div>