/* universal */

/* Navbar fixed margin top */
body {
 padding-top: 60px;
 background: url('/assets/background.png') no-repeat center center fixed;
 -webkit-background-size: contain;
 -moz-background-size: contain;
 -o-background-size: contain;
 background-size: contain;
 overflow-y: auto;
}

input::-webkit-input-placeholder {
color: #2c3e50 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #2c3e50 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #2c3e50 !important;  
}
 
input:-ms-input-placeholder {  
color: #2c3e50 !important;  
}

/* Well for shared labels */
.well .well-whyte{
  background-color: #ffffff !important;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  border: 1px;
  border-style: inset;
}

/* Alert for labels mails */

.label-mail {
  margin-right:10px !important;
  margin-bottom: 0px !important;
  margin-top: 10px !important;
  background-color: #325d88 !important; 
  display: inline-block !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 5px !important;
  padding-right: 10px !important;
  border-radius: 8px !important;
}

.label-mail-close {
  top: 0px !important;
  right: -5px !important;
}


/* Jumbotron and well background color change */
.jumbotron {
  background-color: #CACCC6 !important;
}

.well {
  background-color: #CACCC6 !important;
}

/* Font size for Button Large */
.btn-lg {
  font-size: 18px !important;
}

/* Font size for Button */
.btn {
  font-size: 13px !important;
}

/* Font size for Navbar*/

.navbar .nav > li, .navbar .nav > li > a {
  font-size: 15px !important;
}

/* Panel Title font size */
.panel .panel-heading, .panel .panel-title {
  font-size: 15px !important;
}
/* Field fix margin bottom for signu-up sign-in */

.field {
  margin-bottom: 10px;
}

/* Alert message devise font size */
h2, .h2 {
  font-size: 20px !important;
}

/* Fixed well margins*/
.well-fixed{
  margin-right: 10px !important;
  margin-left: 10px !important;
}

/* Button fixed margins */
.btn-fixed{
  margin-top: 10px;
  width: 100%;
  margin-left: 10px !important;
  white-space: normal !important;
}

/* Vertical Divider */
.row.vdivide [class*='col-']:not(:last-child):after {
  background: #ffffff;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

/* Fixed for maps canvas */
#map-canvas {
 display: block;
 width: 100%;
 height: 400px;
 margin-bottom: 10px;
 border: 1px solid #ffffff;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Navbar (title) fixed margin */
.navbar-right {
  margin-right: 50px !important;
}

.navbar-left {
	margin-left: 20px !important;
}

.navbar-header {
	margin-left: 20px !important;
}

/* Logo fixed width */
.logo {
	max-width: 140px;
}

/* Panel */
.panel-heading {
	background-color: #2C3E50 !important;
}

.panel-title {
	color: white !important;
}

.fixed-top {
	margin-top: 60px;
}

/* Fixed container margin bottom */
.container {
  margin-bottom: 40px;
}

/* Horizontal list separator*/
.separator {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /*background: #f00;*/
    background: #ffffff;
}

/* Fixed Label Car Description */
.label-car{
  width: 100%;
  margin-right: -20px;
}

/* Fixed margin for Font-Awesome icons */
.fa-fixed{
  margin-right: 5px;
}

/* Custom Radio Buttons List */
label.radio-inline, label.checkbox-inline {   
  /*background-color: #dcdfd4;*/
  background-color: #ffffff; /*#d9edf7;*/
  cursor: pointer;   
  font-weight: 400;   
  margin-bottom: 10px !important;   
  margin-right: 2%;   
  margin-left:0;   
  padding: 10px 10px 10px 30px;
  width: 100%;
} 

label.radio-inline.checked, label.checkbox-inline.checked {   
  /*background-color: #266c8e; */
  background-color: #2c3e50;
  color: #fff !important;   
  text-shadow: 1px 1px 2px #000 !important; 
} 
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {   
  margin-left: 0; 
} 
.columns label.radio-inline, .columns label.checkbox-inline {   
  min-width: 190px;   
  vertical-align: top;   
  width: 30%; 
} 

.additional-info-wrap {   
  display: inline-block;   
  margin: 0 2% 0 0;   
  min-width: 190px;   
  position: relative;   
  vertical-align: top;   
  width: 30%; 
} 

.additional-info-wrap label.checkbox-inline, .additional-info-wrap label.radio-inline {   
  width: 100% !important; 
} 
.additional-info-wrap .additional-info {   
  background-color: #266c8e;   
  clear: both;   color: #fff !important;   
  margin-top: -10px;   
  padding: 0 10px 10px;   
  text-shadow: 1px 1px 2px #000 !important;   
  width: 100%; 
}